@import "variables";

//*-----------------------------------------
//* General Core
//*-----------------------------------------
#at_page_surround {
	color: $base_text_color;
	background-color: $base_background_color;
	font-size: $base_font_size;
	line-height: $base_line_height;
	font-family: $base_font_family;
}
h1, h2, h3, h4, h5, h6 {
	color: darken($base_text_color, 10%);
	font-family: $header_font_family;
	font-weight: bold;
}
a {
	color: $primary_color;
	@include transition(color 0.2s ease-in);
	border-bottom: 1px solid $primary_color;
	&:hover, &:focus {
		color: shade($primary_color, 15%);
	}
}
p {
	font-size: $base_font_size;
}
.at_block {
	padding: 1rem;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
	cursor: text;
}
img {
	cursor: default;
}

//*-----------------------------------------
//* Logo
//*-----------------------------------------
.at_logo_container {
	margin-left: 1rem;
	a {
		display: inline-block;
		height: 56px;
		width: 200px;
		text-indent: -999999rem;
		border: 0;
		background: url('/assets/img/logo.png') no-repeat center;
		background-size: 200px 56px;
	}
}

//*-----------------------------------------
//* Header
//*-----------------------------------------
#at_header {
	padding-top: 15px;
	background: $header_background_color;
	.top-bar, .top-bar-section ul {
		background: transparent;
	}
}

//*-----------------------------------------
//* Icon Menu Navigation
//*-----------------------------------------
.at_navigation {
	a {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		border: 0;
		font-size: 12px;
		display: inline-block;
		padding: 15px;
		position: relative;
		&:hover .overline, &.current .overline {
			display: inline-block;
		}
		.overline {
			display: none;
			position: absolute;
			top: -27px;
			left: 0;
			width: 100%;
			background: #2980b9;
			height: 5px;
		}
	}
}
.btn {
	padding: 5px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	font-weight: 600;
	min-height: 34px;
	line-height: 22px;
	border: 1px solid #27ae60;
	border-radius: 1px;
	font-family: 'Open Sans', 'sans-serif';
	font-size: 12px;
	display: block;
	text-align: center;

	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.25);
	@include background-image(linear-gradient(to bottom, #40d47e, #2cc36b));
	background-repeat: repeat-x;

	&:hover {
		@include background-image(linear-gradient(to bottom, #2ecc71, #27ae60));

		background-image: -webkit-gradient(linear, left 0, left 100%, from(#2ecc71), to(#27ae60));
		background-image: -webkit-linear-gradient(top, #2ecc71, 0, #27ae60, 100%);
		background-image: -moz-linear-gradient(top, #2ecc71 0, #27ae60 100%);
		background-image: linear-gradient(to bottom, #2ecc71 0, #27ae60 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ecc71', endColorstr='#ff27ae60', GradientType=0);
		color: #fff;
	}
	&.default {
		@include background-image(linear-gradient(to bottom, #fbfcfc, #e9eeef));
		color: #555;
		text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
		border: 1px solid #bdc3c7;
		&:hover {
			@include background-image(linear-gradient(to bottom, #ecf0f1, #dae2e4));
		}
	}
}
// //*-----------------------------------------
// //* Off-Canvas Navigation
// //*-----------------------------------------
// ul.off-canvas-list {
// 	.at_menu_item {
// 		color: $menu_text_color;
// 		background-color: transparent;
// 		font-size: $base_font_size - 4;
// 		padding-left: 15px;
// 		@include transition(all 0.2s ease-in-out);
// 		&:hover {
// 			color: lighten($primary_color, 25%);
// 			background-color: rgba(255, 255, 255, 0.15);
// 		}
// 		.fa {
// 			width: 18px;
// 		}
// 	}
// 	li label {
// 		padding: 0.6rem 0.9375rem;
// 		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
// 	}
// }
// .off-canvas-wrap a.exit-off-canvas {
// 	background: rgba(0, 0, 0, 0.5);
// 	&:hover {
// 		background: rgba(0, 0, 0, 0.5);
// 	}
// }
// .at_off_canvas_toggle {
// 	color: #fff;
// 	background: rgba(255, 255, 255, 0.2);
// 	border: 1px solid rgba(255, 255, 255, 0.1);
// 	border-radius: 3px;
// 	position: absolute;
//     padding: 5px 12px;
//     top: 8px;
//     left: 8px;
//     &:hover {
//     	color: #fff;
//     }
// }

// //*-----------------------------------------
// //* Showcase
// //*-----------------------------------------
// #at_showcase {
// 	.at_block {
// 		margin: 1rem auto;
// 		.home-template & {
// 			width: 80%;
// 			margin: 1rem auto;
// 			@media #{$small-only} {
// 				width: 100%;
// 			}
// 		}
// 	}
// 	.at_title {
// 	    font-size: 4rem;
// 		@media #{$small-only} {
// 			font-size: 3rem;
// 		}
// 	}
// 	.at_subtitle {
// 		margin-bottom: 1rem;
// 		font-weight: normal;
// 		font-size: 1.2rem;
// 		@media #{$small-only} {
// 			font-size: 1.2rem;
// 		}
// 	}
// 	.at_version {
// 		color: fade-out($showcase_text_color, 0.5);
// 	}
// }
// .at_blog_cover {
// 	background-size: cover;
// }
// .at_showcase_overlay {
// 	// background-color: $showcase_background_color;
// 	// color: $showcase_text_color;
// 	&.at_with_blog_cover {
// 		background-image: none;
// 		background-color: fade-out($showcase_background_color, 0.25);
// 	}
// }

//*-----------------------------------------
//* MainBody
//*-----------------------------------------
#at_mainbody {
	padding: 2rem 0;
	@media #{$small-only} {
		padding: 1rem 0;
	}
	.at_block {
		&:last-child {
		    margin-bottom: 0;
		    padding-bottom: 0;
		}
	}
}

//*-----------------------------------------
//* Footer
//*-----------------------------------------
#at_footer {
	border-top: 1px solid #eee;
	padding: 30px 0;
	margin-top: 40px;
	color: $footer_text_color;
	background: $footer_background_color;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	@media #{$small-only} {
		text-align: center;
	}
	ul {
		list-style: none;
		li {
			display: inline-block;
			margin-right: 10px;
			a {
				border: 0;
				color: inherit;
				font-size: 12px;
				&:hover {
					color: $primary_color;
				}
			}
		}
	}
	.social {
		margin-left: 10px;
		opacity: 0.4;
		&:hover {
			opacity: 1;
		}
	}
}

//*-----------------------------------------
//* Social Icons
//*-----------------------------------------
.at_social_icons {
	.at_block {
		@media #{$small-only} {
			margin-top: 0;
			padding-top: 0;
		}
	}
}

//*-----------------------------------------
//* Button
//*-----------------------------------------
.button {
	background-color: $primary_color;
	&:hover {
		background-color: shade($primary_color, 10%);
	}
}

//*-----------------------------------------
//* Tooltip
//*-----------------------------------------
.tooltip {
	background: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	> .nub {
		border-color: transparent transparent rgba(0, 0, 0, 0.8);
	}
}

//*-----------------------------------------
//* Benchling
//*-----------------------------------------
#strip {
	background-color: #3498db;
	height: 5px;
	width: 100%;
}
.at_sidebar {
	background: shade(#fff, 2%);
	h3 {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
	p {
		font-size: 0.9rem;
	}
	.btn {
		margin-top: 5px;
	}
	p, .fb-like {
		margin-bottom: 1rem;
	}
	.fb-like {
		top: -3px;
	}
	@media #{$small-only} {
		margin-top: 1rem;
	}
}
#mc_embed_signup {
	input {
		margin-bottom: 5px;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
	}
	.btn {
		margin: 0;
		display: block;
		width: 100%;
	}
}