//*-----------------------------------------
//* Main Color
//*-----------------------------------------
$primary_color: 					#3498db;
$base_text_color: 					#686868;
$base_background_color: 			#fff;

//*-----------------------------------------
//* Base Color
//*-----------------------------------------
$header_background_color: 			#fff;
$logo_text_color: 					#222;
$menu_text_color: 					#fff;
$showcase_text_color: 				#fff;
$showcase_background_color: 		shade($primary_color, 50%);
$top_text_color: 					#222;
$top_background_color: 				lighten(desaturate($primary_color, 40%), 40%);
$footer_text_color: 				#aaa;
$footer_background_color: 			#fff;
$featured_label_color: 				#F4C445;

//*-----------------------------------------
//* Font
//*-----------------------------------------
$header_font_family: 				"PT Sans", sans-serif;
$base_font_family: 					"Merriweather", "Georgia", serif;
$base_font_size: 					18px;
$base_line_height: 					1.6;